content/.obsidian/workspace.json
content/.obsidian/community-plugins.json
content/.obsidian/plugins/readwise-official/data.json
content/.obsidian/plugins/readwise-official/main.js
content/.obsidian/plugins/readwise-official/manifest.json
content/.obsidian/plugins/readwise-official/styles.css

# Build directories
/resources/

# OS-specific files
.DS_Store      # macOS
Thumbs.db      # Windows

# IDE and editor files
.vscode/
.idea/

